body {
	margin: 0;
	padding: 0;
	}

ul {
    list-style-type: none;
    padding: 0;
	text-align: center;
}

li {
    display: inline-block;
    padding: 0 0 0 0;
}

div ul {
	width: 300px;
	margin: auto;
}

#top_menu {
    padding-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	position: absolute;
	right: 0;
	top: 0;
	font-family: Arial;
	font-size: .9em;
	color: grey;
}


#searchbuttons li {
	color: #111111;
	background-color: #EEEEEE ;
	padding: 7px;

}

#top_menu li{
	padding-top: 0;
	padding-right: 10px;
	padding-left: 10px;
}

img {
    display: block;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: 92px;
}

input {
	display: block;
	width: 400px;
	height: 40px;
	margin: auto;
}

#bottom_menu {
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: 0px;
}
